Repository webschik/typescript-polyfills-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint

updated Git hooks
  .lintstagedrc
Due: none

updated linter task config
  .lintstagedrc
  package.json
  test/awesome-typescript-loader.spec.ts
  test/ts-loader.spec.ts
Due: prettier --write, tslint

updated test task config
  jest/test-results-processor.js
  package.json
Due: prettier --write

updated ignore files
  .gitignore
  .npmignore
Due: none

configured TS transpilation
  README.md
  package.json
  src/index.ts
  tsconfig.json
Due: prettier --write, tslint

updated snapshots
  package.json
  test/__snapshots__/awesome-typescript-loader.spec.ts.snap
  test/__snapshots__/ts-loader.spec.ts.snap
Due: none

added README
  README.md
Due: none

updated tests and README
  README.md
  browserslist
  declarations.d.ts
  package.json
  scripts/compare-core-js.ts
  src/built-in-definitions.ts
  src/index.ts
  src/polyfills/es5.array.unshift.ts
  src/polyfills/es5.location.origin.ts
  test/__snapshots__/awesome-typescript-loader.spec.ts.snap
  test/__snapshots__/ts-loader.spec.ts.snap
  test/awesome-typescript-loader.spec.ts
  test/files/test-file-1.ts
  test/helpers/prettify-webpack-output.ts
  test/polyfills/es5.array.unshift.spec.ts
  test/polyfills/es5.location.origin.spec.ts
  test/ts-loader.spec.ts
Due: prettier --write, tslint

added prepublish task
  package.json
Due: none

bug fix
  package.json
  src/index.ts
Due: prettier --write, tslint

added TravisCI config
  .travis.yml
Due: none

adde coveralls config; fixed NPM package name
  .gitignore
  package.json
Due: none

updated dependencies; fixed NPM package files - closes #2
  .lintstagedrc
  data/built-ins.json
  package.json
  scripts/generate-built-ins-support-info.ts
  src/index.ts
Due: prettier --write, tslint

updated coveralls dev dependency
  .gitignore
  package.json
Due: none

updated TravisCI badge
  README.md
Due: none

fixed a list of files available on NPM; updated dependencies;
  package.json
Due: none

Update README.md
  README.md
Due: none

Fix repository URLs in package.json
  package.json
Due: none

Path conditions:
  prettier --write: (any of: {src,test,scripts,jest}/**/*.ts) or (any of: {src,test,scripts,jest}/**/*.js)
  tslint: any of: {src,test,scripts,jest}/**/*.ts
